UTF-8 file encoding
git 2.38.1

---Client---
MSVC 14.29.30133 (C++20, C11)
SDL2-devel-2.30.3-VC
SDL2_image-devel-2.8.2-VC
SDL2_mixer-devel-2.8.0-VC
SDL2_ttf-devel-2.22.0-VC
SDL2_net-devel-2.2.0-VC
Python 3.10.6
AutoHotKey v2.0.18

---Server---
Node.js v13.14.0
@types/node (npm install @types/node)
Typescript 4.9.5 (npm install -g typescript@4.9.5)
crypto-js 4.2.0 (npm install -g crypto-js@4.2.0)
MySQL 2.18.1 (npm install -g mysql@2.18.1)

